body{
    margin:1px;
}
.content h1{
    font-size: 3em;
    color:cyan;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    
}
.content p{
    font-size: 1.5em;
    color:black;
}
.content a{
    color:lightseagreen;
    font-weight: 900;
    font-size: 2em;
    
}
.content a:hover {
    color:blue;
    text-transform: uppercase;
    border-bottom:blue;


}
.content .image{
    height:500px;
    width:90%;
    align-items: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border:2px solid black ;
    
}
